<div class="row">
  <div class="col-3"></div>
    <div class="col-5">
    <h2 class="my-4">有給申請詳細</h2>
        <table class="table my-4">
          <tr>
            <th>理由</th>
            <td><%= @calendars.title %></td>
          </tr>
          <tr>
            <th>内容</th>
            <td><%= @calendars.content %></td>
          </tr>
          <tr>
            <th>日時</th>
            <td><%= @calendars.start_time.strftime("%m-%d") %></td>
          </tr>

        </table>

  </div>
  <div class="col-3"></div>
　</div>

　<div class="row">
<%= form_with model: @calendar, url: admin_calendar_path do |f| %>
        <%= f.select :status, Calendar.statuses.keys.map {|k| [I18n.t("enums.calendar.status.#{k}"), k]} %>
        <%= f.submit '更新', class: 'btn btn-success' %>
<% end %>

  </div>