

  
  
<div class="container my-5">
  <div class="row my-3">
    <div class="col-md-auto bg-light">
      <h4 class="font-weight-bold">
        カレンダー
      </h4>
    </div>
  </div>
    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <th>有給申請</th>
          <th>日時</th>
        </tr>
      </thead>
      <tbody>
        <% @calendars.each do |calendar| %>
          <tr>
            <td><%= calendar.title %></td>
            <td><%= calendar.start_time.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= link_to 'Destroy',public_calendar_path(calendar.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to '有給申請をする', new_public_calendar_path %>

<%= month_calendar events: @calendars do |date, calendars| %>
  <%= date.day %>
<% end %>