<p id="notice"><%= notice %></p>

<h1>カレンダー</h1>

<table class="table my-4">
  <thead>
    <tr>
      <th>理由</th>
      <th>日時</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendars.each do |calendar| %>
      <tr>
        <td><%= calendar.title %></td>
        <td><%= calendar.start_time.strftime("%Y-%m-%d") %></td>
        <td><%= link_to '詳細画面',public_calendar_path(calendar.id), class:"btn btn-outline-primary my-3 ml-4 col-4"  %></td>
        <td><%= link_to '申請を削除する',public_calendar_path(calendar.id), method: :delete, class:"btn btn-outline-primary my-3 ml-4 col-4",  data: { confirm: 'Are you sure?' } %></td>
        <td class="px-3"><p><%= calendar.status_i18n %></p></td>
    <% end %>
  </tbody>
</table>
     <div><%= link_to '有給申請する', new_public_calendar_path, class:"btn btn-outline-primary my-3 ml-4 col-2" %></div>
    
<%= month_calendar events: @calendars do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div>
      <%= event.title %>
    </div>
  <% end %>
<% end %>


