<div class="container">
<h2>新規登録</h2>

  <%= form_for(resource, as: resource_name, url: new_user_registration_path) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
  <%= f.label :姓 %><br />
  <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

   <div class="field">
  <%= f.label :名 %><br />
  <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

　<div class="field">
    <%= f.label :社員番号 %><br />
    <%= f.text_field :enployee_code, autocomplete: "enployee_code" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
<%= render "public/shared/links" %>
</div>
