<div class="container my-5">
  <div class="row my-3">
    <div class="col-md-auto bg-light">
      <h4 class="font-weight-bold">
        勤怠一覧
      </h4>
    </div>
  </div>


    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <th>出勤時間</th>
          <th>休憩開始時間</th>
          <th>休憩終了時間</th>
          <th>退勤時間</th>
        </tr>
      </thead>
      <tbody>
        <% @attendances.each do |attendance| %>
          <tr>
            <td><%= attendance.go_work ? I18n.l(attendance.go_work) : "" %></td>
            <td><%= attendance.start_lest ? I18n.l(attendance.start_lest) : "" %>
            <td><%= attendance.finish_lest ? I18n.l(attendance.finish_lest) : ""%></td>
            <td><%= attendance.leaving_work ? I18n.l(attendance.leaving_work) : ""%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="container text-center">
    <%= link_to "打刻画面", new_public_attendance_path, class:'h3' %>に戻る。
  </div>



