<div class="container">
  <div class="row">
  
    <div class="text-success"> <%= flash[:notice] %> </div>
    <div class="text-danger"> <%= flash[:alret] %> </div>
  <div class="col">
    <%= link_to "出勤", public_attendances_path, method: :post %>
  </div>
  <div class="col">
    <%= link_to "退勤/日報", new_public_report_path %>
  </div>
  <div class="w-100"></div>
  <div class="col">
    <%= link_to "休憩開始", public_attendance_path(id: current_user.id, type: "start_lest"), method: :patch %>
  </div>
  <div class="col">
    <%= link_to "休憩終了", public_attendance_path(id: current_user.id, type: "finish_lest"), method: :patch %>
   </div>
  </div>
</div>