<div class="container">
  <div class="row mt-4 mb-3">
    <div class="mx-auto col-12">
      <p class="text-primary h3"><%= notice %></p>
      <h2 class="d-flex align-items-center justify-content-center">業務日報</h2>
    </div>
  </div>
  <div class="row">
    <div class="btn_custom mx-auto col-8">
      <%= form_with model: @report, url:public_reports_path, local: true do |f| %>
      <table class="table">
        <tr>
          <th class="col-2">目標</th>
          <td class="col-10"><%= f.text_area :objective, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="col-2">作業内容</th>
          <td class="col-10"><%= f.text_area :summary, class:"form-control", rows: 5 %></td>
        </tr>
        <tr>
          <th class="col-2">反省点</th>
          <td class="col-10"><%= f.text_area :introspection, class:"form-control", rows: 5 %></td>
        </tr>
        <tr>
          <th class="col-2">改善策</th>
          <td class="col-10"><%= f.text_area :improvement, class:"form-control", rows: 5 %></td>
        </tr>
      </table>
      <%= f.submit "保存", class:"btn btn-info col-3 m-1" %>
      <% end %>
      
      <%= link_to "退勤", public_attendance_path(id: current_user.id, type: "leaving_work"),class:"btn btn-info col-3 m-1",  method: :patch %>
    
    </div>
  </div>
</div>

