<div class="row">
  <div class="col-3"></div>
    <div class="col-5">
    <h2 class="my-4">日報詳細</h2>
        <table class="table my-4">
          <tr>
            <th>目標</th>
            <td><%= @reports.objective %></td>
          </tr>
          <tr>
            <th>作業内容</th>
            <td><%= @reports.summary %></td>
          </tr>
          <tr>
            <th>反省点</th>
            <td><%= @reports.introspection %></td>
          </tr>
          <tr>
            <th>改善策</th>
            <td><%= @reports.improvement %></td>
          </tr>
          
        </table>
        <%= link_to new_public_attendance_path, class:"btn btn-outline-primary my-3 ml-4 col-4" do %>
          <span><i class="fas fa-address-book"></i>打刻画面へ  </span>
        <% end %>
  </div>



  <div class="col-3"></div>
</div>


