<h2>Log in</h2>

<%= form_for(resource,
             as: resource_name,
             url: admin_session_path(resource_name),
             html: { class: "form-signin", role: "form" }) do |f| %>
  <h2 class="form-signin-heading">
    ログイン
  </h2>

  <%= f.text_field :enployee_code,
    class: "form-control",
    placeholder: "社員番号" %>

  <%= f.password_field :password,
    autocomplete: "off",
    class: "form-control",
    placeholder: "パスワード" %>

  <%= f.submit "ログイン",
    data: { disable_with: "ログイン中..." },
    class: "btn btn-lg btn-primary btn-block" %>
<% end %>

<%= render "public/shared/links" %>
