<!DOCTYPE html>
<html>
  <head>
    <title>GreatJob</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
<header>
    <h1>Great Job</h1>

    <nav>
      <ul>
        
          <li><%= link_to "カレンダー",meetings_path %></li>
        
          <li><%= link_to "勤怠一覧",public_attendances_path %></li>
        
          <li><%= link_to "日報一覧",public_reports_path %></li>
        
      </ul>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
